* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --heder_color: #33394e;
  --text_color: #cdd4ec;
  --text_colorHover: #829bf3;
  --main_Box_Color: #0f2836;
  --h1_color: #e8edff;
  --section_1_color: #262d46;
  --cube_color: #33394e;
  --cube_colorHover: #3d4a78;
  --colorWhite: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  /* რატო არ მუშობს აქ ჩაწერილი */
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--heder_color);
}

.header_content {
  max-width: 1440px;
  height: 60px;
  margin: 0 auto;
  background-color: var(--heder_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}

.header_content nav ul {
  display: flex;
}

.header_content nav ul li a {
  margin-left: 24px;
  font-family: 400;
  line-height: 19px;
  color: var(--text_color);
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.7s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}
.header_content nav ul li a:hover {
  color: var(--text_colorHover);
}

.section_1 {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  background-color: var(--section_1_color);
}

.section_1_container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--section_1_color);
}

.section_1_container h1 {
  font-family: 'Inter', sans-serif;
  height: 43px;
  margin: 36px 0px 102px 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: var(--h1_color);
}

.section_1_container .main_Box {
  width: 432px;
  height: 526px;
  border-radius: 40px;
  background-color: var(--main_Box_Color);
}

.main_fitst_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lat_lng_tude {
  display: flex;
  flex-direction: column;
  padding: 44px 0px 0px 41px;
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 20.7px;
  text-align: left;
  color: var(--colorWhite);
}

.span1 {
  display: flex;
  align-items: center;
}

.span1 img {
  margin-right: 20px;
}

.Latitude {
  margin-left: 8px;
}

.span2 {
  display: flex;
  align-items: center;
  padding-left: 45px;
}

.Longitude {
  margin-left: 8px;
}

.dayOrNight {
  margin: 47px 33px 0px 0px;
}

.main_second_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.WeatherC {
  font-family: Arial;
  font-size: 64px;
  font-weight: 400;
  line-height: 73.59px;
  text-align: center;
  color: var(--colorWhite);
}

.main_third_box {
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Fahrenheit {
  margin-left: 50px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.1px;
  text-align: left;
  color: var(--colorWhite);
}

.speedBox {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.speed {
  margin-left: 5px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.1px;
  text-align: left;
  color: var(--colorWhite);
}

.pages_numbers {
  width: 244px;
  height: 28px;
  margin: 163px 0px 75px 0px;
  display: flex;
}

.cube {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--cube_color);
  transition-property: all;
  transition-duration: 0.7s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}
.cube:hover {
  background-color: var(--cube_colorHover);
}

.cube span {
  color: var(--colorWhite);
  font-family: 'Inter', sans-serif;
}
